<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO--8859-1">
<title>Employee Management</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div align="center">

<h1>Employees List</h1>
<table border="1" class = "table table-striped table-responsive-md">
<thead>
<tr>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>User Name</th>
<th>Password</th>
<th>Date Of joining</th>
<th>Gender</th>
<th>Date of birth</th>
<th>Role</th>
<th>Department Id</th>
<th>Photo</th>
</tr>
</thead>
<tbody>
<!-- <p>Values</p> -->
<tr th:each="employee: ${listEmployees}">
<td th:text="${employee.empId}"></td>
<td th:text="${employee.firstName}"></td>
<td th:text="${employee.lastName}"></td>
<td th:text="${employee.userName}"></td>
<td th:text="${employee.password}"></td>
<td th:text="${employee.dateOfJoining}"></td>
<td th:text="${employee.gender}"></td>
<td th:text="${employee.dateOfBirth}"></td>
<td th:text="${employee.role}"></td>
<td th:text="${employee.departmentId}"></td>
<td><img th:src="@{${employee.photoImagePath}}" style="width:100px;height:100px"/></td>
<td> <a th:href="@{/admin/employees/{id}(id=${employee.empId})}" class="btn btn-success">View Details</a></td>
<td> <a th:href="@{/admin/employees/{id}/update(id=${employee.empId})}" class="btn btn-primary">Update</a></td>
<td th:with="isActive = ${employee.isActive}">
	<span th:if="${isActive}"><a th:href="@{/admin/employees/{id}/setInactive(id=${employee.empId})}" class="btn btn-danger">Set Inactive</a> </span>
	<span th:unless="${isActive}"><a th:href="@{/admin/employees/{id}/setActive(id=${employee.empId})}" class="btn btn-warning">Set Active</a></span>
</td>
<td></td>
</tbody>
</table>
<a th:href="@{/admin/employees/new}" class="btn btn-primary btn-sm mb-3">Add New Employee</a>
</div>
</body>
</html>


