<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <title>EMS</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
       <!-- start: Sidebar -->
       <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">
          <div class="brand text-center p-3">
            <h4 class="text-muted">Employee Management System</h4>
          </div>
          <ul class="nav flex-column pt-3">
            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/employeeDashboard}">
                <span data-feather="home"></span>
                Dashboard
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <span data-feather="file"></span>
                View All Attendances
              </a>
            </li>
           

            <li class="nav-item">
              <a class="nav-link text-light" th:href="@{/attendance/new}" href="#">
                <span data-feather="shopping-cart"></span>
                Regularise Attendance 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <span data-feather="layers"></span>
                Log Out
              </a>

               
            </li>
          </ul>
        </div>
      </nav>

      <!-- end: Sidebar -->
        <!-- start: Content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <!-- start: Title -->
          <div
            class="
              d-flex
              justify-content-between
              flex-wrap flex-md-nowrap
              align-items-center
              mb-5
              border-bottom
            "
          >
            <h1 class="h3">Welcome USER!</h1>
          </div>
          <!-- end: Title -->
          <!-- start: Form -->
          <div class="card">
            <div class="card-body">
              <form>
                <!-- Employee Id -->
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    id="employeeId"
                    placeholder="Employee Id"
                  />
                </div>
                <!-- Department Id -->
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="departmentId"
                    placeholder="Department Id"
                  />
                </div>
                <!-- UserName -->
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    id="employeeId"
                    placeholder="Username"
                  />
                </div>
                <!-- FirstName -->
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder="First Name"
                  />
                </div>
                <!-- LastName -->
                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    id="employeeId"
                    placeholder="Last Name"
                  />
                </div>

                <!-- Password -->
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password"
                  />
                </div>

                <!-- Gender -->
                <div class="form-group" >
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="Gender" disabled
                />
                </div>

                <!-- Date of Joining -->
                <div class="form-group">
                  <label class="text-muted pr-3" for="date-of-joining"
                    >Date Of Joining</label
                  >
                  <input type="text" id="date" value="2021-10-01" disabled/>
                </div>

                <!-- DOB -->
                <div class="form-group">
                  <label class="text-muted pr-3" for="dob">Date Of Birth</label>
                  <input type="date" id="date" value="1998-10-07"/>
                </div>

                <!-- Role -->
                <div class="form-group">
                  <input
                  type="text"
                  class="form-control"
                  id="exampleInputRole"
                  placeholder="Software Engineer" 
                />
                </div>

                <!-- Upload Image -->
                <div class="form-group">
                  <input
                    type="file"
                    class="form-control-file"
                    id="uploadImage"
                  />
                </div>

             
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div>
          </div>
          <!-- endL Form -->
        </main>
        <!-- end: Content -->
      </div>
    </div>

    <!-- Bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>