<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Attendance</title>
</head>
<body>
    <center><h1>Add Attendance</h1></center>
    <form action="#" th:action = "@{/saveAttendance}" th:object="${attendance}" method="POST">
        <label for = "employee-id">Employee ID : </label>
        <input type="number" th:field="*{empId}" id="employee-id">
        <br>

        <!-- <label for = "attendance-date">Date : </label>
        <input type="date" id="attendance-date">
        <br> -->
        <label for="in-time">In-time : </label>
        <input type="datetime-local" id="in-time" th:field="*{inTime}">
        <br>
        <label for="out-time">Out Time : </label>
        <input type="datetime-local" id="out-time" th:field="*{outTime}">
        <br>
        <input type="submit" value="Add Regularization Request">
    </form>
</body>
</html>